* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #212121;
    text-align: center;
}

h1 {
    color: black;
}

#form {
    margin-top: 100px;
    text-align: center;
}

#n1 {
    background: #3e3e3e;
    border: 2px solid red;
    border-radius: 30px;
    font-size: 35px;
    color: #fff;
    text-align: center;
    width: 400px;
    height: 65px;
    box-shadow: -4px 5px 10px #fff;
}

#n2 {
    background: #3e3e3e;
    border: 2px solid red;
    border-radius: 30px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    width: 400px;
    height: 65px;
    box-shadow: -4px 5px 10px #fff;
}

#result {
    background: #3e3e3e;
    border: 2px solid red;
    border-radius: 30px;
    font-size: 40px;
    color: wheat;
    width: 400px;
    height: 65px;
    text-align: center;
    box-shadow: -4px 5px 10px #fff;
}

#operators {
    background: #3e3e3e;
    border: 2px solid red;
    border-radius: 30px;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    box-shadow: -4px 5px 10px #fff;
}

#btn {
    background: #3e3e3e;
    border: 2px solid red;
    border-radius: 30px;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    box-shadow: -4px 5px 10px #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.col-12 {
    box-sizing: content-box;
}

@media (max-width: 575px) {

    #n1,
    #n2,
    #result {
        width: 185px;
    }

    #n1,
    #n2{
        font-size: 16px;
    }
}